@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  transition: 0.3s ease all;

  @include onTablet {
    padding-left: 24px;
  }

  @include onDesktop {
    padding-left: 32px;
  }
}


.header {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 0px #e2e6e9;

  &__logo {
    @include onTablet {
      padding-right: 16px;
    }

    @include onDesktop {
      padding-right: 32px;
    }
  }

  &__content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
      display: flex;
      align-items: center;
      justify-content: center;

      &__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }

      &__link {
        color: #89939a;
        text-decoration: none;
        display: flex;
        height: 48px;
        align-items: center;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;

        @include onDesktop {
          height: 64px;
        }

        @include onTablet {
          padding: 0 16px;
        }

        @include onDesktop {
          padding: 0 32px;
        }

        &:hover {
          color: #0F0F11;
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__buttons-right {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: -1px 0px 0px #E2E6E9;

      height: 48px;
      width: 48px;

      @include onDesktop {
        height: 64px;
        width: 64px;
      }
    }
  }
}

.is-active {
  color: #0F0F11;
  ;
}

.is-active::after {
  @include onTablet {
    content: " ";
    position: absolute;
    width: 15px;
    height: 4px;
    background: #0F0F11;
    border-radius: 8px;
    top: 45px;
  }

  @include onDesktop() {
    content: " ";
    position: absolute;
    width: 15px;
    height: 4px;
    background: #0F0F11;
    border-radius: 8px;
    top: 60px;
  }
}

@media (max-width: 639px) {
  .menu-moved {
    display: none;
  }
}

@include onTablet {
  .menu {
    display: none;
  }
}
