.swiper__slider {
  width: 1040px;
  height: 400px;

  @media (max-width: 1200px) {
    width: 490px;
    height: 189px;
  }

  @media (max-width: 640px) {
    width: 320px;
    height: 320px;
  }
}

.swiper__slider .swiper-button-next,
.swiper__slider .swiper-button-prev {
  height: 400px;
  width: 32px;
  border: 1px solid #b4bdc4;
  border-radius: 48px;
  top: 0;
  margin: 0;
  padding: 0;

  @media (max-width: 1199) {
    height: 189px;
  }

  @media (max-width: 639px) {
    display: none;;
  }
}
.swiper__slider .swiper-button-next:after,
.swiper__slider .swiper-button-prev:after {
  display: none;
}

.swiper__slider .swiper-button-next {
  background: white url('./RightArrowHover.svg') no-repeat
    center;
}

.swiper__slider .swiper-button-prev {
  background: white url('./LeftArrowHover.svg') no-repeat
    center;
}

.swiper__slider .swiper-button-next {
// .swiper__slider .swiper-rtl .swiper-button-prev {
  right: 0;
}

.swiper__slider .swiper-button-next.swiper-button-disabled,
.swiper__slider .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper__slider .swiper-button-prev {
// .swiper__slider .swiper-rtl .swiper-button-next {
  left: 0;
}

.carousel__title {
  margin: 0;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: #0f0f11;
  display: flex;
  margin-bottom: 24px;
}
