@font-face {
  font-family: Mont;
  src: url(./font/Mont-Regular.woff2);
}

@font-face {
  font-family: Mont;
  font-weight: bold;
  src: url(./font/Mont-SemiBold.woff2);
}

body {
  margin: 0;
  font-family: 'Mont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafbfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
