@import url(../../font/fonts.scss);
.container__swipe {
  margin-bottom: 64px;
}

.phone_slider .products-slider__title {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: #0F0F11;
  display: flex;
  margin-bottom: 24px;
}
.phone_slider .swiper-button-next {
  background-image: url(./img/Slider-Button-Default-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: calc(0% + 22px);
  left: calc(100% - 40px);
}

.phone_slider .swiper-button-next:hover {
  background-image: url(./img/Slider-Button-Hover-right.svg);
}

.phone_slider .swiper-button-next::after {
  display: none;
}
.phone_slider .swiper-button-prev {
  background-image: url(./img/Slider-Button-Default-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(180deg);
  top: calc(0% + 22px);
  left: calc(100% - 80px);
}

.phone_slider .swiper-button-prev:hover {
  background-image: url(./img/Slider-Button-Hover-right.svg);
}

.phone_slider .swiper-button-prev::after {
  display: none;
}

.swiper-slide {
  padding-bottom: 12px;
  max-width: 212px;

  @media (min-width: 640px) {
    max-width: 237px;
  }

  @media (min-width: 1200px) {
    max-width: 25%;
  }
}

.swiper-slide:first-child {
  padding-left: 8px;
}
