@import url(../../font/fonts.scss);
.container__swipe {
  margin-bottom: 64px;
}

.products-slider__title {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: #0F0F11;
  display: flex;
  margin-bottom: 24px;
}
.swiper-button-next {
  background-image: url(./img/Slider-Button-Default-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: calc(0% + 22px);
  left: calc(100% - 40px);
}

.swiper-button-next:hover {
  background-image: url(./img/Slider-Button-Hover-right.svg);
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(./img/Slider-Button-Default-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(180deg);
  top: calc(0% + 22px);
  left: calc(100% - 80px);
}

.swiper-button-prev:hover {
  background-image: url(./img/Slider-Button-Hover-right.svg);
}

.swiper-button-prev::after {
  display: none;
}
